body{
  background-color: grey;
}
h1{
  background-color: lightgrey;
}
.fourteen{
  background-color: #0099ff;
}
.thirteen{
  background-color: #33adff;
}
.twelve{
  background-color: #4db8ff;
}
.eleven{
  background-color: #66c2ff;
}
.ten{
  background-color: #80ccff;
}
.nine{
  background-color: #99d6ff
}
.eight{
  background-color: #b3e0ff;
}
.seven{
  background-color: #00cc66;
}
.six{
  background-color: #ffe6f0;
}
.five{
  background-color: #ffb3d1;
}
.four{
  background-color: #ff99c2;
}
.three{
  background-color: #ff80b3;
}
.two{
  background-color: #ff66a3;
}
.one{
  background-color: #ff3585;
}
.zero{
  background-color: #ff0066;
}
